@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::-webkit-scrollbar {
  display: none;
}


.outline-gradient {
  color: rgb(255, 255, 255);
  background: white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.outline-gradient::before {
  content: attr(data-text);
  background: -webkit-linear-gradient(90deg, rgba(219, 6, 23, 1) 0%, rgba(101, 0, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  position: absolute;
  z-index: -1;
}

.text-shadow-color {
  /* text-shadow:6px 6px 0px rgba(0,0,0,0.2); */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.splide__arrow svg {
  fill: #DB0718 !important;
}

.splide__arrow {
  border: 1px solid #DB0718 !important;
  background: transparent !important;
}